
.semiTit{
  font-size: 3rem;
   font-family: 'Montserrat',sans-serif;
  font-style: normal;
  font-weight: bolder;
  color: rgba(0, 0, 0, 0.62);

}

footer .semiTit{
  font-size: 1rem;
   font-family: 'Montserrat',sans-serif;
  font-style: normal;
  font-weight: bolder;
  color: white;


}




.bordes{
  border-style: solid;
  border-width: 1px;
  border-color: white;
  border-radius: 40%;
  padding: 2.8px;

}
.dona{
  font-size: 0.625rem;
  color: white;  margin:0 0 ;
  font-family: 'Montserrat', sans-serif;



}
.menu{
  font-family: 'Montserrat', Semi-bold;
  font-weight:  bolder;
  font-size: 0.875rem;
  color: white;
}
.medio {color: white;
  padding-right:8px;
  font-size: 1.125rem;
    font-family: 'Montserrat' ;
    font-style: normal;
    font-weight: bolder;margin-bottom: 0;
}


.naranja{
  color: #e8950b;margin-bottom: 0;
}

.subM{

  color:white;

  margin-bottom: 0;
}

.def{
  font-size: 1.25rem;
   font-family: 'Montserrat',sans-serif;

}
.row{width: 100%;}

.subM h2{

  font-size: 3rem;
   font-family: 'Montserrat',sans-serif;
  font-style: normal;
  font-weight: bolder;



}

.cont2{
  color: #003b9b;
  font-size: 1.25rem;
   font-family: 'Montserrat',sans-serif;
  font-style: normal;
  font-weight: bolder;
}
.conbo {
  background-repeat: no-repeat;
background-size:  cover;
}



body{
  background-image: url("/img/PNGs/fond.jpg");
  background-repeat: no-repeat;
background-size:  cover;


}
html, body {
  min-height: 400px;
height: 100%;

margin: 0;
padding: 0;
}
#container {
min-height: 100%;
height: 100%; /*Solo para IE6*/
}
